body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.app {
  display: flex;
}

.sidebar {
  width: 50px;
  background-color: #f65718;
  padding: 20px;
  height: 100vh;
  background-image: url(assets/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #2b51cc;
}

.sidebar ul li a svg {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
